[Unit]
Description=The Headless Recorder
After=network.target

[Service]
User=username
Group=username
WorkingDirectory=/home/username/hr
ExecStart=/home/username/hr/prd.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target